.title-slide {
	background-color: #efffef;
}

slides > slide {
	height: 750px;
	margin-top: -375px;
}

.center img {
	margin-top: 50px;
	margin-left: 220px;
}

.center h2 {
	text-align: center;
}

ul > li {
	font-size: 30px;
}
